apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: infiquetra-staging-certificate
  namespace: {{ cert_manager_namespace }}
spec:
  secretName: {{ staging_secret_name }}
  issuerRef:
    name: {{ staging_issuer_name }}
    kind: ClusterIssuer
  dnsNames:
    - "*.infiquetra.com"
    - infiquetra.com
