{
  "client_id": "{{ vault_google_oauth_client_id }}",
  "client_secret": "{{ vault_google_oauth_client_secret }}",
  "refresh_token": "{{ vault_google_oauth_refresh_token }}",
  "type": "authorized_user",
  "universe_domain": "googleapis.com"
}
