---
# Reset tasks for mattermost role
- name: Stop Mattermost services
  community.docker.docker_compose_v2:
    project_src: /opt/mattermost
    state: stopped
    remove_orphans: yes
  become: yes
  ignore_errors: yes

- name: Remove Mattermost containers
  shell: docker ps -a | grep mattermost | awk '{print $1}' | xargs -r docker rm -f
  become: yes
  ignore_errors: yes

- name: Display data preservation message
  debug:
    msg:
      - "Mattermost containers stopped and removed"
      - "Data preserved in: {{ mattermost_data_dir }}"
      - "To completely remove data, manually delete /opt/mattermost/"
