[Unit]
Description=Dolt SQL Server
After=network.target

[Service]
Type=simple
User={{ olympus_user }}
WorkingDirectory={{ dolt_data_dir }}
ExecStart=/usr/local/bin/dolt sql-server --config {{ dolt_config_dir }}/config.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
