---
# Simplified desktop installation - XRDP only, no RustDesk

- name: Create NetworkManager config directory
  file:
    path: /etc/NetworkManager/conf.d
    state: directory
    mode: '0755'
  become: yes

- name: Configure NetworkManager to not manage network interface
  copy:
    content: |
      [keyfile]
      unmanaged-devices=interface-name:enp*;interface-name:ens*;interface-name:eth*
    dest: /etc/NetworkManager/conf.d/10-unmanaged-devices.conf
    mode: '0644'
  become: yes

- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  become: yes

- name: Install desktop environment and XRDP
  apt:
    name:
      - "{{ desktop_package }}"
      - xrdp
      - dbus-x11
    state: present
  become: yes
  async: 3600  # 60 minute timeout
  poll: 30     # Check every 30 seconds

- name: Stop and disable NetworkManager to prevent interface takeover
  systemd:
    name: NetworkManager
    enabled: no
    state: stopped
  become: yes
  ignore_errors: yes

- name: Ensure systemd-networkd is managing network
  systemd:
    name: systemd-networkd
    enabled: yes
    state: started
  become: yes

- name: Configure X11 wrapper to allow XRDP access
  lineinfile:
    path: /etc/X11/Xwrapper.config
    regexp: '^allowed_users='
    line: 'allowed_users=anybody'
    create: yes
  become: yes

- name: Configure XRDP PAM for proper authentication
  copy:
    content: |
      #%PAM-1.0
      @include common-auth
      @include common-account
      @include common-session
      @include common-password
      session required pam_loginuid.so
    dest: /etc/pam.d/xrdp-sesman
    mode: '0644'
  become: yes

- name: Enable and start XRDP service
  systemd:
    name: xrdp
    enabled: yes
    state: started
  become: yes
