---
# Simplified desktop installation - let NetworkManager handle networking

- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  become: yes

- name: Install desktop environment and XRDP
  apt:
    name:
      - "{{ desktop_package }}"
      - xrdp
      - dbus-x11
    state: present
  become: yes
  async: 3600  # 60 minute timeout
  poll: 30     # Check every 30 seconds

- name: Configure X11 wrapper to allow XRDP access
  lineinfile:
    path: /etc/X11/Xwrapper.config
    regexp: '^allowed_users='
    line: 'allowed_users=anybody'
    create: yes
  become: yes

- name: Configure XRDP PAM for proper authentication
  copy:
    content: |
      #%PAM-1.0
      @include common-auth
      @include common-account
      @include common-session
      @include common-password
      session required pam_loginuid.so
    dest: /etc/pam.d/xrdp-sesman
    mode: '0644'
  become: yes

- name: Enable and start XRDP service
  systemd:
    name: xrdp
    enabled: yes
    state: started
  become: yes
