apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    url: http://prometheus:9090
    access: proxy
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      timeInterval: "{{ prometheus_scrape_interval }}"

  - name: Loki
    type: loki
    uid: loki
    url: http://loki:{{ loki_port }}
    access: proxy
    isDefault: false
    editable: false
